Repository EkipoAlfaBuenaOndaDinamitaEscuadronRana/Man_I_Love_Frogs, pull requests merged in 2021-05, with the labels that each got.

#3 Feature/add unit tests
  lexer.py
  super_compi.py
  symbol_table.py
  unit_tests.py
  yacc.py
Labels: documentation, enhancement

#4 Feature/semantics
  semantic_table.py
  unit_tests.py
Labels: enhancement

#5 Feature/arithmetic expressions
  README.md
  quadruple.py
  symbol_table.py
  unit_tests.py
Labels: enhancement

#13 Code Styler
  README.md
  helper_functions.py
  lexer.py
  semantic_table.py
  super_compi.py
  symbol.py
  symbol_tables.py
  unit_tests.py
  yacc.py
Labels: documentation, good first issue

#14 Addapt arithmetic expression
  quadruple.py
  unit_tests.py
Labels: enhancement

#15 Quadruple assignation
  quadruple.py
  semantic_table.py
  unit_tests.py
Labels: enhancement

#16 Symbols in quadruples
  answer_creator.py
  file_parser.py
  helper_functions.py
  quadruple.py
  quadruple_stack.py
  semantic_table.py
  super_compi.py
  symbol.py
  symbol_tables.py
  tests/test_1.txt
  tests/test_3.txt
  tests/test_4.txt
  tests/test_5.txt
  tests/test_6.txt
  tests/test_7.txt
  tests/test_8.txt
  tests/works_1.txt
  unit_tests.py
  yacc.py
Labels: compi, enhancement

#32 Fix/refactoring
  compilador/helpers/file_parser.py
  compilador/helpers/helper_functions.py
  compilador/helpers/printer.py
  compilador/helpers/router_solver.py
  compilador/objects/function_table.py
  compilador/objects/quadruple.py
  compilador/objects/quadruple_stack.py
  compilador/objects/router_solver.py
  compilador/objects/semantic_table.py
  compilador/objects/state_table.py
  compilador/objects/symbol.py
  compilador/objects/variable_tables.py
  compilador/tests/answer_creator.py
  compilador/tests/router_solver.py
  compilador/tests/unit_tests.py
  compilador/vm/memory_segment.py
  compilador/vm/router_solver.py
  compilador/vm/virtual_machine.py
  router_solver.py
Labels: bug, compi, documentation, enhancement, good first issue

#30 fix/virtual_machine_map
  compilador/objects/symbol.py
  compilador/tests/unit_tests.py
  compilador/vm/memory_segment.py
  compilador/vm/virtual_machine.py
Labels: bug, compi, enhancement

#33 Vm quadruple handling
  compilador/objects/symbol.py
  compilador/tests/unit_tests.py
  compilador/vm/memory_segment.py
  compilador/vm/virtual_machine.py
Labels: compi, enhancement

#34 Fix/game engine routing
  compilador/tests/unit_tests.py
  game_engine/character.py
  game_engine/engine.py
  game_engine/game_engine_tests.py
  game_engine/instruction.py
  game_engine/router_solver.py
Labels: bug, enhancement, game

#35 Fix/main allocation
  compilador/tests/unit_tests.py
  compilador/vm/virtual_machine.py
Labels: bug, compi, enhancement

#38 Arrays
  compilador/helpers/helper_functions.py
  compilador/helpers/printer.py
  compilador/lexer.py
  compilador/objects/base_address.py
  compilador/objects/function_table.py
  compilador/objects/quadruple_stack.py
  compilador/objects/symbol.py
  compilador/objects/variable_tables.py
  compilador/parser.py
  compilador/tests/test_13.txt
  compilador/tests/test_14.txt
Labels: compi, enhancement

#36 General parser fix
  README.md
  compilador/helpers/helper_functions.py
  compilador/helpers/printer.py
  compilador/lexer.py
  compilador/objects/base_address.py
  compilador/objects/function_table.py
  compilador/objects/quadruple.py
  compilador/objects/quadruple_stack.py
  compilador/objects/symbol.py
  compilador/objects/variable_tables.py
  compilador/parser.py
  compilador/tests/test_10.txt
  compilador/tests/test_12.txt
  compilador/tests/test_13.txt
  compilador/tests/test_14.txt
  compilador/tests/unit_tests.py
Labels: bug, compi, enhancement

#40 Bug-fixing arrays + send objects
  compilador/helpers/helper_functions.py
  compilador/helpers/printer.py
  compilador/objects/function_table.py
  compilador/objects/quadruple_stack.py
  compilador/parser.py
  compilador/tests/test_14.txt
  compilador/tests/test_15.txt
  compilador/tests/test_2.txt
  compilador/tests/unit_tests.py
  super_compi.py
Labels: bug, compi

#39 Vm running
  compilador/objects/quadruple.py
  compilador/objects/semantic_table.py
  compilador/tests/test_13.txt
  compilador/tests/test_15.txt
  compilador/tests/unit_tests.py
  compilador/vm/memory_segment.py
  compilador/vm/virtual_machine.py
Labels: compi, enhancement

#42 Add vm to parser
  compilador/tests/test_2.txt
  super_compi.py
Labels: compi, enhancement

#44 Vm/loops
  compilador/objects/symbol.py
  compilador/tests/test_17.milf
  compilador/tests/test_18.milf
  compilador/tests/test_19.milf
  compilador/tests/test_20.milf
  compilador/vm/virtual_machine.py
  super_compi.py
Labels: bug, compi, enhancement

#46 Vm/frogs
  compilador/objects/quadruple.py
  compilador/tests/test_1.milf
  compilador/tests/test_10.milf
  compilador/tests/test_11.milf
  compilador/tests/test_12.milf
  compilador/tests/test_13.milf
  compilador/tests/test_14.milf
  compilador/tests/test_15.milf
  compilador/tests/test_2.milf
  compilador/tests/test_21.milf
  compilador/tests/test_3.milf
  compilador/tests/test_4.milf
  compilador/tests/test_5.milf
  compilador/tests/test_6.milf
  compilador/tests/test_7.milf
  compilador/tests/test_8.milf
  compilador/tests/test_9.milf
  compilador/tests/unit_tests.py
  compilador/vm/virtual_machine.py
  execute.py
  game_engine/character.py
  game_engine/engine.py
  game_engine/game_engine_tests.py
  game_engine/instruction.py
  super_compi.py
Labels: compi, enhancement, game
